* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Centering the body */
  body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    background-color: #292222; 
    font-family: 'Fira Code';
    color: white;
    text-align: center;
    padding: 20px; 
  }
  
  /* Title */
  h1 {
    font-family: 'Bigshot One';
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  
  /* Subtitle */
  h2 {
    font-size: 32px;
    margin-bottom: 40px; 
    margin-top: 0; 
  }
  
  /* Logo styling */
  img {
    margin: 15px 0; 
    margin-bottom: 80px;
    transform: translateX(-10px);
  }
  
  /* Login/signup button */
  a {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 100px;
  }
  
  a.sign-up-button:hover {
    background-color: #444;
  }

  a.sign-up-button {
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    padding: 15px 100px;
    background-color: black;
    cursor: pointer;
  }
  
  .sign-up-button {
    margin-left: -320px;
  }

  /* Styling for login link */
  p {
    font-size: 18px;
    margin-top: 20px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  